@font-face {
   font-family: "Lato-Bold";
   src: url("../fonts/Lato-Bold/Lato-Bold.ttf") format("ttf"), 
      url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"),
      url("../fonts/Lato-Bold/Lato-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato-Light";
   src: url("../fonts/Lato-Light/Lato-Light.ttf") format("ttf"),
      url("../fonts/Lato-Light/Lato-Light.woff") format("woff"),
      url("../fonts/Lato-Light/Lato-Light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}